name: HACS Action
permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *

jobs:
  hacs:
    name: HACS Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: HACS Action
      uses: hacs/action@main
      with:
        category: integration
