name: HACS Action

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *

jobs:
  hacs:
    name: HACS Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: HACS Action
      uses: hacs/action@main
      with:
        category: integration
