name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - uses: home-assistant/actions/hassfest@master
